
/* 
 * Generales
 */
 
/*body {
	font-family : Helvetica;
	color: #676767;
	font-size: 13px;
	margin: 0px;
}*/

body {
	color: #333; 
	

}
a: {
	text-decoration: none;
}

#main{

	/*min-height: 100%;
	height: auto !important;
	height: 100%;*/
	overflow:auto;
	/*padding-bottom:150px; /* this needs to be bigger than footer height*/
}
/* Light green
a:link {
	color: #59c800;
	text-decoration:none;
}
a:hover {
	color: #59c800;
	text-decoration:none;
}
a:active {
	color: #59c800;
	text-decoration:none;
}
a:visited {
	color: #b1e389;
	text-decoration:none;
	}
*/
a:link {
	/* color: #000; */
	color: #777;
	text-decoration:none;
}
a:visited {
	color: #777;
	text-decoration:none;
	}
a:hover {
	color: #555;
	text-decoration:none;
}
a:active {
	color: #555;
	text-decoration:none;
}

.bold {
	font-weight:bold;
}
/*
 * Particular
 */
.hr {
	position: relative;
	width: 90%;
	height: 3px;
	background-color: #e6e6e6;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.nav_bar{
	/* top:0;
	background-image: linear-gradient(bottom, rgb(61,60,60) 29%, rgb(128,126,125) 65%, rgb(153,153,153) 83%);
	background-image: -o-linear-gradient(bottom, rgb(61,60,60) 29%, rgb(128,126,125) 65%, rgb(153,153,153) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(61,60,60) 29%, rgb(128,126,125) 65%, rgb(153,153,153) 83%);
	background-image: -webkit-linear-gradient(bottom, rgb(61,60,60) 29%, rgb(128,126,125) 65%, rgb(153,153,153) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(61,60,60) 29%, rgb(128,126,125) 65%, rgb(153,153,153) 83%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.29, rgb(61,60,60)),
		color-stop(0.65, rgb(128,126,125)),
		color-stop(0.83, rgb(153,153,153))
	);*/
	padding: 0px;
	margin-bottom: 15px; 
	background-color:#423f3f; 
	color:#ffffff; 
	
	height: 30px;
	width: 100%;
}

.author {
	font-style: italic;
	font-size: 12px;
}

.title-black{
	color:#333;
}

.title-green{
	color:#24B300;
}

.linea-3 {
	height: 3px;
	/*background-color: #c3c3c3;*/
	border-bottom: 1px solid #999;
	width: 100%;
	margin: 5px auto 5px auto;
}

.linea-1 {
	line-height:1;
	height: 1px;
	/*background-color: #c3c3c3;*/
	border-bottom: 1px solid #999;
	width: 95%;
	margin: 10px auto 10px auto;
}

.footer {
	text-align: center;
	margin: 5px auto 10px auto;
	font-size: 10px;
}
.tweet {
	margin: auto auto 15px auto;
	font-style: italic;
}

.border-right  {
	border-right: 1px solid;
	margin-right: -2px;
}

.img {
	width: 780px;
	height: 200px;
	margin-bottom:10px;
}

.img-small {
	width: 360px;
	height: 150px;
}

/* nuevo para imagenes */

.crop {
	height: 180px;
	overflow: hidden;
	/*margin-bottom:10px;*/
}

.crop img {
	/*height: 200px;*/
	margin: -20% 0 0 -20%;
}

/* modificaciones de bootstrap */
.accordion-heading {
  border-bottom: 1px solid #e5e5e5;
}

.accordion-inner {
  padding: 9px 15px;
  border-top: 0;
  border-bottom: 1px solid #e5e5e5;
}

.img-grey {
	opacity: 0.6;
}

.bottom-dotted {
	border-bottom: 1px dotted #999;
}

.bottom-solid {
	border-bottom: 1px solid #999;

}
.push {
height: 4em;
}
.navbar {
	margin-bottom: 0;
}

.footer{

	color:#ffffff;
	font-size:12px;
}