RewriteEngine on 
RewriteCond %{HTTP_HOST} ^blzkz\.es$ [NC]
RewriteRule ^(.*)$ http://www.blzkz.es/$1 [R=301,L]
RewriteCond $1 !^(index.php|css|js|images|robots.txt) 
RewriteRule ^(.*)$ index.php/$1 [L]
